.main-links a:hover,
.main-links a.active,
.main-links a:focus,
.contact:hover,
.web,
.lower-menu .contact:focus,
.logo:focus,
.lower-menu .contact:hover,
.contact:focus,
.project-button:hover,
.project-button:focus {
    color: #2196f3;
    outline: none;
}
.main-links a,
a.contact {
    text-decoration: none;
}
a.contact {
    color: #757575;
}
.service-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196f3;
    color: #ffffff;
}
.main-links a {
    color: #212121;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.16;
    color: #000000;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.company-street,
.lower-menu a.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.lower-menu a.contact {
    color: #ffffff99;
}
.company-street {
    color: #ffffff;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.our-team {
    background-color: #f5f4fa;
}
.project-button button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #f5f4fa;
    color: #212121;
}
.main-header h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #ffffff;
}
.articles h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.articles p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.projects-list,
.what-we-do ul,
.our-team ul,
.main-links,
.articles {
    list-style-type: none;
}
.what-we-do h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.workers-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.workplace {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
a.mail-underline {
    text-decoration: underline;
}
.lower-menu,
.main-header {
    background-color: #2f303a;
}
.lower-menu a.logo {
    color: #ffffff;
}
